body{

font-family:"Noto Sans JP",sans-serif;
background:#FFF7E8;
text-align:center;
margin:0;

}

.title{

margin-top:20px;
color:#444;

}

.description{

margin-bottom:30px;

}

.select-block{

margin:20px;

}

button{

padding:10px 20px;
margin:5px;
border:none;
border-radius:10px;
background:#FFD59E;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#FFC36B;

}

.active{

background:#FFB74D;

}

#kanji-list{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;

}

.kanji-btn{

font-size:28px;
width:50px;
height:50px;

display:flex;
align-items:center;
justify-content:center;

background:white;
border:2px solid #FFD59E;
border-radius:10px;

}

.selected{

background:#FFD59E;

}

/* グリッド */

#grid-container{

position:relative;
width:720px;
height:720px;
margin:30px auto;

}

#grid{

width:720px;
height:720px;
display:grid;
gap:10px;
background:#FFD59E;
padding:10px;
border-radius:30px;

}

.grid-cell{

background:white;
border-radius:20px;

}

/* 正解丸 */

#correct-circle{

position:absolute;
top:0;
left:0;
width:720px;
height:720px;
border:20px solid red;
border-radius:50%;
display:none;
pointer-events:none;

}

/* パーツ置き場 */

#parts-container{

width:1100px;
height:160px;
margin:auto;
border:6px dashed #FFD59E;
border-radius:30px;
padding:10px;
background:#FFF3D8;
overflow:hidden;

}

.parts-title{

margin-bottom:10px;

}

#parts-area{

display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;

}

.piece{

touch-action:none;
cursor:pointer;
position:relative;
transition:transform 0.15s;

}

.piece-small{

transform:scale(0.4);

}

.piece-large{

transform:scale(1);

}

canvas{

border-radius:12px;

}

#reading{

font-size:28px;
margin-top:20px;

}

#words{

font-size:20px;
margin-top:10px;

}
